@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600|Arvo:400|Merriweather:300');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400&text=DigtalRepor');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica Neue, Calibri, Arial;
    font-weight: 400;
    vertical-align: top;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
html {
    overflow: hidden;
    background: #333;
}
body {
    background: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-top: 15px solid #67f;
}
#page {
    width: 150%;
    height: 100%;
    overflow: hidden;
    background: #004b35;
}
#title {
    font-family: 'Roboto Slab', Helvetica Neue, Calibri, Arial;
    font-weight: 400;
    font-size: 2.3em;
    text-align: center;
    padding: 10px;
    color: #e7f4f0;
}
#nav {
    padding: 0;
    margin: 0;
}
.r {
    border: solid #54984c 0;
    height: 100%;
    background: #54984c;
    color: #fff;
    transition: .5s;
}
.pos2 .r {
    border: solid #54984c 10px;
}
#left {
    background: #004b35;
}
.side {
    transition: .5s;
    display: inline-block;
    width: 49.9%;
    height: 100%;
}
li {
    clear: both;
    transition: .3s;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    list-style-type: none;
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: #0b885c;
    color: #fff;
    border-bottom: solid #006d47 7px;
    margin-bottom: 5px;
    cursor: pointer;
}
.r:not(.selected) {
    display: none;
}
.pos1 #left {
    padding: 10px;
    -ms-transform: translateX(0);
   	-webkit-transform: translateX(0);
    transform: translateX(0);
}
.pos2 #left {
    padding: 0;
    -ms-transform: translateX(-66.5%);
   	-webkit-transform: translateX(-66.5%);
    transform: translateX(-66.5%);
}
#right {
    float: right;
}
.pos1 #right {
    -ms-transform: translateX(0);
   	-webkit-transform: translateX(0);
    transform: translateX(0);
}
.pos2 #right {
    -ms-transform: translateX(-66.5%);
   	-webkit-transform: translateX(-66.5%);
    transform: translateX(-66.5%);
}
.pos2 li:not(.chosen) {
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
    opacity: 0.3;
}
#back {
    overflow: hidden;
    margin-right: 10px;
    outline: 0;
    height: 0px;
    width: 0px;
    float: right;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    background: rgba(0,0,0,0);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transition: .5s;    
}
.pos2 #back{
    height: 30px;
    width: 30px;
    border-left: solid #fff 5px;
    border-top: solid #fff 5px;
}
#right::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #333;
    background-image: url(../logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity .3s 1ms, height 1ms;
}
.pos2 #right::after {
    opacity: 0;
    height: 0;
    transition: opacity .3s, height 1ms .3s;
}
.r img {
    float: right;
    padding: 10px 0 10px 10px;
}
.r .head {
    font-family: 'Arvo';
    display: block;
    font-size: 2.4em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.r .sub {
    display: block;
    padding-left: 15px;
    font-size: 1.4em;
    font-weight: 600;
}
.r p {
    text-align: justify;
    font-size: 1.1em;
    margin-top: 0em;
    font-family: Merriweather;
    font-weight: 300;
}
#check {
    display: none;
}
#pulsebg {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ddd;
    opacity: 1;
    transition: opacity .2s, height 1ms .2s;
}
#pulse {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    -ms-transform: translate(-25px,-25px);
    -webkit-transform: translate(-25px,-25px);
    transform: translate(-25px,-25px);
    border: 2px solid #000;
    -webkit-animation: pulse 3s .5s infinite;
    animation: pulse 3s .5s infinite
}
#taptc {
    position: absolute;
    top: 20px;
    width: 100%;
    font-family: 'Arvo';
    font-size: 2.5em;
    text-align: center;
}
#tap {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    -ms-transform: translate(-40px,-30px);
    -webkit-transform: translate(-40px,-30px);
    transform: translate(-40px,-30px);
    -webkit-animation: tap 3s infinite linear;
    animation: tap 3s infinite linear;
}
#check:checked + #pulsebg {
    opacity: 0;
    height: 0;
}
@-webkit-keyframes pulse {
    20% {
        height: 150px;
        width: 150px;
        opacity: 0;
        -webkit-transform: translate(-75px,-75px);
    }
    100% {
        height: 0px;
        width: 0px;
        opacity: 0;
        -webkit-transform: translate(0,0);
    }
}
@keyframes pulse {
    20% {
        height: 150px;
        width: 150px;
        opacity: 0;
        transform: translate(-75px,-75px);
    }
    100% {
        height: 0px;
        width: 0px;
        opacity: 0;
        transform: translate(0,0);
    }
}
@-webkit-keyframes tap {
    10% {
        height: 200px;
    }
    20% {
        height: 250px;
    }
}
@keyframes tap {
    10% {
        height: 200px;
    }
    20% {
        height: 250px;
    }
}